@charset "UTF-8";
*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: #ffb8ca;
}

*::-webkit-scrollbar-thumb {
  background-color: #d41443;
  border-radius: 50px;
  border: 3px solid #d41443;
}

* {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.header {
  z-index: 3;
  height: 90px;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffb8ca;
}

.size-m {
  display: none;
}

.nav-bar {
  width: 1120px;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .pages-list {
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.nav-bar .pages-list-item {
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  position: relative;
}
.nav-bar .pages-list-item::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}
.nav-bar .pages-list-item:hover::before {
  width: 100%;
}

.active-link {
  color: rgb(212, 20, 67);
}

.hero {
  margin-top: 90px;
  background-color: rgb(255, 184, 202);
}

.container-section-hero {
  height: 584px;
  width: 1106px;
  padding-top: 75px;
  margin: 0 auto;
  position: relative;
}

.ice-cream {
  position: absolute;
  display: block;
  top: 0;
  right: 170px;
}

.img-numbers {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

.eco-milk {
  position: absolute;
  display: block;
  left: 0;
  bottom: 45px;
}

.so-tasty {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
}

.h1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  width: 277px;
  height: 137px;
  font-family: "Titan One", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 43.51px;
  letter-spacing: 0.04em;
  text-align: left;
}

.red {
  color: #d41443;
}

.buttons {
  margin-top: 26px;
}
.buttons button {
  color: white;
  text-decoration: none;
  font-size: 14px;
  border: none;
  background: none;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.buttons button::before {
  margin-left: auto;
}
.buttons button::after,
.buttons button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #d41443;
  display: block;
  transition: 0.5s;
}
.buttons button:hover::after,
.buttons button:hover::before {
  width: 100%;
}

.description {
  position: absolute;
  bottom: 90px;
  left: 230px;
  width: 200px;
  height: 78px;
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.button {
  padding: 0;
  margin: 0;
  width: 159px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background: rgb(255, 255, 255);
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 400ms;
}

.button-buy-now {
  color: rgb(212, 20, 67);
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  border: 1px solid #d41443;
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

@media (min-width: 1200px) {
  .modal-open-button {
    display: none;
  }
}
.ice-cream {
  animation: heartbeat 1.5s ease-in-out 1 both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .size-l {
    display: none;
  }
  .size-m {
    display: block;
  }
  .header {
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffb8ca;
  }
  .nav-bar {
    width: 701px;
  }
  .button-block {
    display: block;
    padding: 0;
    margin: 0;
  }
  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  .modal-button {
    display: none;
    z-index: 10;
  }
  .modal-list {
    flex-direction: column;
    display: flex;
  }
  .modal-list li a {
    color: rgb(225, 121, 146);
  }
  .hero {
    padding-top: 45px;
    background-color: rgb(255, 184, 202);
    width: 100%;
  }
  .container-section-hero {
    width: 701px;
    height: 400px;
    padding-top: 0;
  }
  .ice-cream {
    position: absolute;
    display: block;
    top: -42px;
    right: 78px;
    width: 429px;
    height: 443px;
  }
  .eco-milk {
    bottom: 20px;
  }
  .so-tasty {
    width: 168px;
    height: 133px;
    right: 50px;
  }
  .description {
    display: none;
  }
  .h1 {
    width: 162px;
    height: 80px;
    font-family: "Titan One", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.19px;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .buttons button {
    color: white;
    text-decoration: none;
    font-size: 14px;
    border: none;
    background: none;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
  }
  .buttons button::before {
    margin-left: auto;
  }
  .buttons button::after,
  .buttons button::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #d41443;
    display: block;
    transition: 0.5s;
  }
  .buttons button:hover::after,
  .buttons button:hover::before {
    width: 100%;
  }
  .button {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .nav-bar {
    width: 300px;
  }
  .hero {
    height: 500px;
    overflow-x: hidden;
    background: url(../../images/section-hero/ice-cream-hero-s.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 120%;
  }
  .container-section-hero {
    width: 300px;
    height: 100%;
  }
  .modal-open-button {
    display: block;
    z-index: 10;
    position: relative;
  }
  .ice-cream {
    display: none;
  }
  .h1 {
    font-family: "Titan One", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 29.77px;
    letter-spacing: 0.04em;
    text-align: left;
    width: 218px;
    height: 106px;
  }
  .buttons {
    width: 110px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .buttons button {
    padding: 0;
    margin: 0;
  }
  .button {
    display: flex;
  }
  .size-m {
    display: none;
  }
  .size-s {
    display: block;
  }
  .s-hide {
    display: none;
  }
  .modal-list {
    flex-direction: column;
  }
  .modal-list .pages-list-item__link {
    color: black;
  }
}
/* From Uiverse.io by zanina-yassine */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid rgba(229, 229, 229, 0);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px rgba(0, 0, 0, 0.2274509804);
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn svg {
  width: 16px;
  height: 16px;
  fill: #333;
}

.modal.show {
  display: block;
}

.section-atural-products-container {
  width: 90%;
  margin: 0 auto;
}

.natural-products {
  margin-top: 127px;
  margin-bottom: 119px;
}
.natural-products__titles {
  text-align: center;
}
.natural-products__titles h3 {
  font-family: "Titan One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #FFA5BA;
}
.natural-products__titles h2 {
  font-family: "Titan One", sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  color: #D31342;
}
.natural-products__cards {
  display: flex;
  height: 735px;
  justify-content: center;
  gap: 27px;
}
.natural-products__cards__card-one {
  width: 329px;
  text-align: center;
}
.natural-products__cards__card-one__img {
  width: 335px;
  height: 335px;
}
.natural-products__cards__card-one__text {
  padding-top: 163px;
  height: 525px;
  background-color: #FFA5BA;
  border-radius: 24px;
  margin-top: -125px;
}
.natural-products__cards__card-one__text h3 {
  font-family: "Titan One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
}
.natural-products__cards__card-one__text h4 {
  font-family: "Titan One", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}
.natural-products__cards__card-one__text p {
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  width: 241px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}
.natural-products__cards__card-one__text button {
  margin-top: 42px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: #ffffff;
}
.natural-products__cards__card-one__text button span {
  color: #C7133E;
  font-weight: 700;
  font-size: larger;
}
.natural-products__cards__card-two {
  width: 329px;
  text-align: center;
}
.natural-products__cards__card-two__img {
  width: 335px;
  height: 335px;
}
.natural-products__cards__card-two__text {
  padding-top: 163px;
  height: 525px;
  background-color: #F0D1A5;
  border-radius: 24px;
  margin-top: -125px;
}
.natural-products__cards__card-two__text h3 {
  font-family: "Titan One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
}
.natural-products__cards__card-two__text h4 {
  font-family: "Titan One", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}
.natural-products__cards__card-two__text p {
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  width: 241px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}
.natural-products__cards__card-two__text button {
  margin-top: 42px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: #ffffff;
}
.natural-products__cards__card-two__text button span {
  color: #C7133E;
  font-weight: 700;
  font-size: larger;
}
.natural-products__cards__card-three {
  width: 329px;
  text-align: center;
}
.natural-products__cards__card-three__img {
  width: 335px;
  height: 335px;
}
.natural-products__cards__card-three__text {
  padding-top: 163px;
  height: 525px;
  background-color: #C2E297;
  border-radius: 24px;
  margin-top: -125px;
}
.natural-products__cards__card-three__text h3 {
  font-family: "Titan One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
}
.natural-products__cards__card-three__text h4 {
  font-family: "Titan One", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}
.natural-products__cards__card-three__text p {
  text-align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
  width: 241px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}
.natural-products__cards__card-three__text button {
  margin-top: 42px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: #ffffff;
}
.natural-products__cards__card-three__text button span {
  color: #C7133E;
  font-weight: 700;
  font-size: large;
}

@media ((min-width: 480px) and (max-width: 844px)) {
  .natural-products {
    margin-bottom: 112px;
  }
  .natural-products h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .natural-products h2 {
    font-size: 48px;
    line-height: 54px;
  }
  .natural-products__cards {
    height: 589px;
    gap: 20px;
  }
  .natural-products__cards__card-one {
    width: 220px;
  }
  .natural-products__cards__card-one__img {
    width: 220px;
    height: 226px;
  }
  .natural-products__cards__card-one__text {
    padding-top: 152px;
    height: 485px;
  }
  .natural-products__cards__card-one__text h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .natural-products__cards__card-one__text h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .natural-products__cards__card-one__text p {
    width: 198px;
    font-size: 14px;
    line-height: 24px;
  }
  .natural-products__cards__card-one__text button {
    margin-top: 40px;
  }
  .natural-products__cards__card-two {
    width: 220px;
  }
  .natural-products__cards__card-two__img {
    width: 220px;
    height: 226px;
  }
  .natural-products__cards__card-two__text {
    padding-top: 152px;
    height: 485px;
  }
  .natural-products__cards__card-two__text h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .natural-products__cards__card-two__text h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .natural-products__cards__card-two__text p {
    width: 198px;
    font-size: 14px;
    line-height: 24px;
  }
  .natural-products__cards__card-two__text button {
    margin-top: 40px;
  }
  .natural-products__cards__card-three {
    width: 220px;
  }
  .natural-products__cards__card-three__img {
    width: 220px;
    height: 226px;
  }
  .natural-products__cards__card-three__text {
    padding-top: 152px;
    height: 485px;
  }
  .natural-products__cards__card-three__text h3 {
    font-size: 20px;
    line-height: 22px;
  }
  .natural-products__cards__card-three__text h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .natural-products__cards__card-three__text p {
    width: 198px;
    font-size: 14px;
    line-height: 24px;
  }
  .natural-products__cards__card-three__text button {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .natural-products {
    margin-bottom: 98px;
  }
  .natural-products h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .natural-products h2 {
    font-size: 34px;
    line-height: 39px;
  }
  .natural-products__cards {
    gap: 130px;
    height: 2000px;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    width: 280px;
  }
  .natural-products__cards__card-one {
    width: 280px;
  }
  .natural-products__cards__card-one__img {
    width: 249px;
    height: 252px;
  }
  .natural-products__cards__card-one__text {
    height: 485px;
    margin-top: -150px;
  }
  .natural-products__cards__card-one__text p {
    width: 200px;
    line-height: 21px;
  }
  .natural-products__cards__card-two {
    width: 280px;
  }
  .natural-products__cards__card-two__img {
    width: 249px;
    height: 252px;
  }
  .natural-products__cards__card-two__text {
    height: 485px;
    margin-top: -150px;
  }
  .natural-products__cards__card-two__text p {
    width: 200px;
    line-height: 21px;
  }
  .natural-products__cards__card-three {
    width: 280px;
  }
  .natural-products__cards__card-three__img {
    width: 249px;
    height: 252px;
  }
  .natural-products__cards__card-three__text {
    height: 485px;
    margin-top: -150px;
  }
  .natural-products__cards__card-three__text p {
    width: 200px;
    line-height: 21px;
  }
}
.how-its-made-container {
  width: 1110px;
  margin: 0 auto;
}

.how-its-made-section {
  background-color: #FFF5F6;
  background-size: cover;
  height: 1382px;
}
.how-its-made-section__title-first {
  font-family: "Titan One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #FFA5BA;
  text-align: center;
  padding-top: 125px;
  margin: 0;
}
.how-its-made-section__title-second {
  font-family: "Titan One", sans-serif;
  font-size: 58px;
  font-weight: 400;
  color: #D31342;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 106px;
}

.constituting-div {
  position: relative;
  display: flex;
  gap: 74px;
}
.constituting-div__img {
  padding-left: 112px;
  margin-top: -54px;
  display: block;
}
.constituting-div__img-first {
  position: absolute;
  bottom: -338px;
}
.constituting-div__img-second {
  left: 84px;
  bottom: -444px;
  position: absolute;
  z-index: -1;
}

.constituting-list {
  width: 463px;
}
.constituting-list__paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 35px;
}

.second-paragraph {
  color: #907E82;
}

.quantity-list {
  display: flex;
  gap: 120px;
  margin-top: 100px;
}
.quantity-list__img {
  margin-bottom: 40px;
}
.quantity-list__title {
  font-family: "Titan One", sans-serif;
  font-size: 58px;
  font-weight: 400;
  color: #D31342;
  margin-bottom: 15px;
}
.quantity-list__paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 1368px) {
  .container-adaptive {
    width: 772px;
  }
  .quantity-list {
    margin-left: -90;
  }
  .constituting-div {
    gap: 17px;
  }
  .constituting-div__img-first {
    display: none;
  }
  .constituting-div__img-second {
    display: none;
  }
  .constituting-div__img {
    margin-left: -197px;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 926px;
  height: 350px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 85px;
  height: 85px;
  top: 3574px;
  left: 598px;
  gap: 0px;
  border-radius: 44px 0px 0px 0px;
  opacity: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.text-list {
  background-image: url(/photo/“.svg);
  background-repeat: no-repeat;
  background-position: 50px 32px;
  width: 100%;
  height: 138px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #FAFAFA;
  text-align: center;
}

.text-style {
  z-index: 100;
  max-width: 750px;
  max-height: 52px;
  top: 3721px;
  left: 265px;
  gap: 0px;
  opacity: 0px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  letter-spacing: 0.04em;
  text-align: center;
  margin-left: 88px;
  padding-top: 47px;
}

.dots {
  position: absolute;
  margin-top: 24px;
  width: 100%;
  text-align: center;
  margin-left: 18px;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 18px 0px 0px;
  background-color: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-image: url(../../images/section-slider/home.png);
  background-repeat: no-repeat;
  background-color: white;
}

.visible {
  display: block;
  opacity: 1;
}

ul {
  list-style-type: "";
}

.elipse {
  margin-top: -18px;
  max-width: 53px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
  margin-left: auto;
  margin-right: auto;
}

.elipse-list {
  max-width: 135px;
  height: 4px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.elips-number {
  width: 4px;
  height: 4px;
  gap: 0px;
  opacity: 0px;
  margin: 0 10px;
}

.girl-name {
  width: 100%;
  height: 31px;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 500;
  line-height: 37.2px;
  margin-top: 20px;
  text-align: center;
  margin-left: 13px;
}

.container2 {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1600px) {
  .container2 {
    width: 1600px;
  }
}
.schedule {
  position: relative;
}
.schedule__background {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff5f6;
  z-index: -1;
}
.schedule__list {
  display: flex;
  gap: 3%;
  padding: 0;
  margin: 0;
  justify-content: center;
}
@media screen and (max-width: 816px) {
  .schedule__list {
    display: block;
    max-width: 600px;
    margin: 43px auto;
  }
}
.schedule__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1019607843);
  border-radius: 24px;
  margin-bottom: 20px;
}
.schedule__item-holder {
  padding: 51px 44px 62px 44px;
}
.schedule__name {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  display: inline-block;
  padding: 0 10px;
}
.schedule__1 {
  background: #f0d1a5;
}
.schedule__2 {
  background: #c2e297;
}
.schedule__city {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  letter-spacing: 0.04em;
  color: #000000;
}
.schedule__description {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.28px;
  letter-spacing: 0.04em;
  color: #907e82;
}
.schedule__line {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 32px;
}
.schedule__daytime {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 0;
}
.schedule__clocktime {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.76px;
  color: #ffa5ba;
  margin-top: 0;
}
.schedule__contact {
  display: block;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 29.28px;
  color: #907e82;
  position: relative;
  overflow: hidden;
}
.schedule__contact:hover {
  animation: contacthover 600ms forwards;
}
@keyframes contacthover {
  0% {
    color: #907e82;
  }
  100% {
    color: rgba(212, 20, 68, 0.4588235294);
  }
}
.schedule__buttons {
  padding-top: 66px;
  padding-bottom: 165px;
  text-align: center;
  gap: 15px;
}
@media screen and (max-width: 816px) {
  .schedule__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 113px;
  }
}
.schedule__button1 {
  position: relative;
  overflow: hidden;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: center;
  color: #ffffff;
  background: #d41342;
  border-radius: 22px;
  border: none;
  padding: 10px 35px;
  margin-bottom: 20px;
  margin-right: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.schedule__button1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 100%;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.schedule__button1:hover::before {
  left: 100%;
}
.schedule__button1:hover {
  background-color: #ff3355;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.schedule__button1:active {
  background-color: #c41838;
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 816px) {
  .schedule__button1 {
    margin-right: 0;
  }
}
.schedule__button2 {
  position: relative;
  overflow: hidden;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: center;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  padding: 10px 35px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.schedule__button2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 100%;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.schedule__button2:hover::before {
  left: 100%;
}
.schedule__button2:hover {
  background-color: #f0ebeb;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.schedule__button2:active {
  background-color: rgb(228, 215, 217);
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tracking-in-expand-fwd-top {
  animation: tracking-in-expand-fwd-top 1.1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate__bounce {
  animation: bounce;
  animation-duration: 2.5s;
}

.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.arrow-up a {
  width: 50px;
  height: 50px;
  background: #DB7093;
  text-align: center;
  display: block;
  line-height: 50px;
  border-radius: 50px;
  color: var(--main-text-color);
  transition: 0.5s;
}/*# sourceMappingURL=main.css.map */