$red-accent-color: #D41443;
$white-color: #ffffff;
$pink-color: #FFA5BA;
$black-color: #000000;
$grey-color: #907E82;
$grey-line-color: #E1E1E1;
$point-color: #C7133E;
$point-grey-color:#D9D9D9;
$home-icon-color:#D31342;
$background-coffe-color: #F0D1A5;
$background-lightgreen-color: #C2E297;
$background-footer-icon-color: #FEA5BB;
$background-how-its-made-color: #FFF5F6;

$Titan-fonts: "Titan One", sans-serif;
$DM-Sans-fonts: "DM Sans", sans-serif;

