<section class="footer" id="contacts">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>footer</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <footer data-aos="fade-up" class="footer">
            <div class="footer-div">
                <div class="footer-name">
                    <p class="homemade_ice_cream_made">
                        homemade ice cream made
                    </p>
                    <p class="with_passion">
                        WITH PASSION
                    </p>
                </div>
                <div>
                    <ul class="icons">
                        <li class="icon icon1"><img class="icon-photo" src="./src/images/footer/Githab.png" alt=""></li>
                        <li class="icon icon2"><img class="icon-photo1 " src="./src/images/footer/telegram.png" alt="">
                        </li>
                        <li class="icon icon3"><img class="icon-photo2" src="./src/images/footer/Facebook.png" alt="">
                        </li>
                    </ul>
                    <div class="div">
                        <b class="text">Feel free to contact </b><b class="number">+61 (0) 383 766 284</b>
                    </div>
                </div>
            </div>
            <div class="footer-div-bottom">
                <p class="footer-p">© 2019 - IceCream. All Rights Reserved.</p>
            </div>

        </footer>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titan+One&display=swap');
        </style>
    </body>

    </html>
</section>