<div class="team__modal" id="teamModal">
  <button class="close-button" onclick="closeModal()">Close</button>
  <h1 class="team__title">People developers</h1>
    <div class="team__wrapper">
        <div class="team__card">
            <div class="team_photo">
               <img src="../images/modal-photo/beresten-modal.jpg" alt="photo-people" class="team_photo__img_1">
            </div>
            <a href="https://github.com/dmitryberesten" target="_blank">
                <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Dmytrii Beresten</p>
            <p class="team-role">IT Teacher</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/maxim-modal.jpg" alt="photo-people" class="team_photo__img_3">
            </div>
            <a href="https://github.com/Max1mkasssss" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Maxim</p>
            <p class="team-role">Team Lead</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/svedova-modal.jpg" alt="photo-people" class="team_photo__img_1">
            </div>
            <a href="https://github.com/svedova1899" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Anastasia Svedova</p>
            <p class="team-role">Scrum Master</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/pogorelova-modal.jpg" alt="photo-people" class="team_photo__img">
            </div>
            <a href="https://github.com/PvNastia" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Anastasia Pogorelova</p>
            <p class="team-role">Developer</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/roman-modal.jpg" alt="" class="team_photo__img">
            </div>
            <a href="https://github.com/supriseeeeef" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Roma</p>
            <p class="team-role">Developer</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/eduard-modal.jpg" alt="photo-people" class="team_photo__img">
            </div>
            <a href="https://github.com/GraceFeel1" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Eduard Kazyuk</p>
            <p class="team-role">Developer</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/malyk-modal.jpg" alt="photo-people" class="team_photo__img">
            </div>
            <a href="https://github.com/danikkkkk12" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Danylo Malyk</p>
            <p class="team-role">Developer</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
                <img src="../images/modal-photo/stasiv.jpg" alt="photo-people" class="team_photo__img">
            </div>
            <a href="#" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="github-img">
            </a>
            <p class="team-name">Danylo Stasiv</p>
            <p class="team-role">Developer</p>
        </div>
        <div class="team__card">
            <div class="team_photo">
              <img src="../images/modal-photo/Tymur.jpg" alt="photo-people" class="team_photo__img">
            </div>
            <a href="#" target="_blank">
              <img src="../images/modal-photo/modal-github.svg" alt="">
            </a>
            <p class="team-name">Tymur Derevianko</p>
            <p class="team-role">Developer</p>
        </div>
    </div>
  </div>