<section class="natural-products">
  <div class="section-atural-products-container ">
    <div class="natural-products__titles">
      <h3>100% NATURAL</h3>
      <h2> PRODUCTS</h2>
    </div>
    <div class="natural-products__cards flex">
      <div class="natural-products__cards__card-one">
        <picture>
          <source srcset="./images/section-natural-products/pic1@1x.png" media="(max-width: 480px)">
          <source srcset="./images/section-natural-products/pic1@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./images/section-natural-products/pic1@3x.png" media="(min-width: 1200px)">
          <img src="./images/section-natural-products/pic1@1x.png" alt="View">
        </picture>
        <div class="natural-products__cards__card-one__text">
          <h3>ICE CREAM</h3>
          <h4>. . .</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button><span>&#8594;</span></button>
        </div>
      </div>
      <div class="natural-products__cards__card-two">
        <picture>
          <source srcset="./images/section-natural-products/pic2@1x.png" media="(max-width: 480px)">
          <source srcset="./images/section-natural-products/pic2@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./images/section-natural-products/pic2@3x.png" media="(min-width: 1200px)">
          <img src="./images/section-natural-products/pic2@1x.png" alt="View">

        </picture>
        <div class="natural-products__cards__card-two__text">
          <h3>ICE COFFEE</h3>
          <h4>. . .</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button><span>&#8594;</span></button>
      </div>
      </div>
      <div class="natural-products__cards__card-three">
        <picture>
          <source srcset="./images/section-natural-products/pic3@1x.png" media="(max-width: 480px)">
          <source srcset="./images/section-natural-products/pic3@2x.png"
            media="(min-width: 843px) and (max-width: 1199px)">
          <source srcset="./images/section-natural-products/pic3@3x.png" media="(min-width: 1200px)">
          <img src="./images/section-natural-products/pic3@1x.png" alt="View">

        </picture>
        <div class="natural-products__cards__card-three__text">
          <h3>MILKSHAKES</h3>
          <h4>. . .</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button><span>&#8594;</span></button>
        </div>
      </div>
    </div>
  </div>
</section>