<section class="natural-products">
    <div class="section-atural-products-container ">
        <div class="titles">
            <h3>100% natural</h3>
            <h2>products</h2>
        </div>
        <div class="cards">
           <div class="card-one">
            <picture>
                <source srcset="/src/images/section-articles/Rectangle9@1x.png" media="(max-width: 480px)">
                <source srcset="/src/images/section-articles/Rectangle9@2x.png"
                  media="(min-width: 843px) and (max-width: 1199px)">
                <source srcset="/src/images/section-articles/Rectangle9@3x.png" media="(min-width: 1200px)">
                <img src="/src/images/section-articles/Rectangle9@1x.png" alt="View">
      
              </picture>
              <div class="text">
                <h3>ice cream</h3>
                <h4>...</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
           </div>
           <div class="card-two">
            <picture>
                <source srcset="/src/images/section-articles/Rectangle9@1x.png" media="(max-width: 480px)">
                <source srcset="/src/images/section-articles/Rectangle9@2x.png"
                  media="(min-width: 843px) and (max-width: 1199px)">
                <source srcset="/src/images/section-articles/Rectangle9@3x.png" media="(min-width: 1200px)">
                <img src="/src/images/section-articles/Rectangle9@1x.png" alt="View">
      
              </picture>
              <div class="text">
                <h3>ice coffee</h3>
                <h4>...</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
           </div>
           <div class="card-three">
            <picture>
                <source srcset="/src/images/section-articles/Rectangle9@1x.png" media="(max-width: 480px)">
                <source srcset="/src/images/section-articles/Rectangle9@2x.png"
                  media="(min-width: 843px) and (max-width: 1199px)">
                <source srcset="/src/images/section-articles/Rectangle9@3x.png" media="(min-width: 1200px)">
                <img src="/src/images/section-articles/Rectangle9@1x.png" alt="View">
      
              </picture>
              <div class="text">
                <h3>milkshakes</h3>
                <h4>...</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
           </div>
        </div>
    </div>
</section>