<header class="header flex">
    <nav class="nav-bar flex">
        <img class="animate__animated animate__wobble" src="../images/section-hero/logotype.svg" alt="logo">
        <ul class="size-l s-hide pages-list flex">
            <li class="pages-list-item"><a class="pages-list-item__link active-link" href="#header">Home</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#about-us">About us</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#how">How it’s made?</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#products">Our products</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#contact">Contact</a></li>
        </ul>
        <div class="nav-buttons flex">
            <button class="modal-open-button btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0L20 0L20 1L0 1L0 0Z" fill="#D41443" />
                    <path d="M0 6L20 6L20 7L0 7L0 6Z" fill="#D41443" />
                    <path d="M0 12L20 12L20 13L0 13L0 12Z" fill="#D41443" />
                </svg>
            </button>
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
                aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="pages-list flex modal-list">
                        <li class="pages-list-item"><a class="pages-list-item__link active-link" href="#header">Home</a>
                        </li>
                        <li class="pages-list-item"><a class="pages-list-item__link" href="#about-us">About us</a></li>
                        <li class="pages-list-item"><a class="pages-list-item__link" href="#how">How it’s made?</a></li>
                        <li class="pages-list-item"><a class="pages-list-item__link" href="#products">Our products</a>
                        </li>
                        <li class="pages-list-item"><a class="pages-list-item__link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <button class="size-m button">
                <svg viewBox="0 0 16 16" class="bi bi-cart-check" height="24" width="24"
                    xmlns="http://www.w3.org/2000/svg" fill="rgb(212, 20, 67)">
                    <path
                        d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z">
                    </path>
                    <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z">
                    </path>
                </svg>
                <p class="text">Buy Now</p>
            </button>
        </div>
    </nav>
</header>

<section class="hero">
    <div class="container-section-hero">
        <h1 class="h1">ice cream made with <span class="red">passion</span></h1>
        <div class="buttons">
            <button>PRODUCTS</button>
            <button>HOW IT'S MADE?</button>
        </div>
        <h3 class="description size-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et</h3>
        <img class="ice-cream" src="../images/section-hero/ice-cream-hero.svg" alt="ice-cream">
        <img class="img-numbers size-m" src="../images/section-hero/numbers.svg" alt="numbers">
        <img class="eco-milk size-m" src="../images/section-hero/eco-milk.svg" alt="eco-milk">
        <img class="so-tasty size-m" src="../images/section-hero/so-tasty.svg" alt="so tasty">
    </div>
</section>

