<header class="header flex">
    <nav class="nav-bar flex">
        <img src="../images/section-hero/logotype.svg" alt="logo">
        <ul class="pages-list flex">
            <li class="pages-list-item"><a class="pages-list-item__link active" href="#header">Home</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#about-us">About us</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#how">How it’s made?</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#products">Our products</a></li>
            <li class="pages-list-item"><a class="pages-list-item__link" href="#contact">Contact</a></li>
        </ul>
        <button class="button">
            <svg viewBox="0 0 16 16" class="bi bi-cart-check" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                fill="rgb(212, 20, 67)">
                <path
                    d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z">
                </path>
                <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z">
                </path>
            </svg>
            <p class="text">Buy Now</p>
        </button>
    </nav>
</header>

<section class="hero">


    <div class="container-section-hero">
        <h1 class="h1">ice cream made with <span class="red">passion</span></h1>
       <div class="buttons">
        <button>
            PRODUCTS
          </button>
          <button>
            HOW IT'S MADE?
          </button>
       </div>
       <h3 class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
       </h3>
        <img class="img-numbers" src="../images/section-hero/numbers.svg" alt="numbers">
        <img class="eco-milk" src="../images/section-hero/eco-milk.svg" alt="eco-milk">
        <img class="so-tasty" src="../images/section-hero/so-tasty.svg" alt="so tasty">
    </div>
</section>