<section class="how-its-made-section">
    <div class="how-its-made-container">
        <div class="how-its-made-title">
            <h3 class="how-its-made-section__title-first">TRADITION AND LOVE</h3>
            <h1 class="how-its-made-section__title-second">HOW IT'S MADE?</h1>
        </div>
        <div class="constituting-div">
            <img src="./images/section-how_its_made/cow.png" alt="" class="constituting-div__img">
            <img src="./images/section-how_its_made/milk-first.png" alt="" class="constituting-div__img-first">
            <img src="./images/section-how_its_made/milk-second.png" alt="" class="constituting-div__img-second">
            <ul class="constituting-list">
                <li class="constituting-list__item">
                    <p class="constituting-list__paragraph">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam
                        vel
                        justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                </li>
                <li class="constituting-list__item">
                    <p class="constituting-list__paragraph second-paragraph">Curabitur lacinia enim at ex blandit, vel
                        pellentesque odio
                        elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
                        volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br> <br>
                        Aliquam erat volutpat. Aenean accumsan.</p>
                </li>
                <li class="constituting-listitem"> <button class="schedule__button2"
                        onclick="window.open('#', '_blank');">Read more
                        <img src="./images/section-schedule/buttonDecoration2.svg" alt="button decoration">
                    </button></li>
            </ul>
        </div>
        <div class="quantity-div">
            <ul class="quantity-list">
                <li class="quantity-list__item"><img src="./images/section-how_its_made/milk-svg.svg" alt="milk"
                        class="quantity-list__img">
                    <h3 class="quantity-list__title">721</h3>
                    <p class="quantity-list__paragraph">Aliquam ac dui vel dui vulputate <br> consectetur. Mauris massa.</p>
                </li>
                <li class="quantity-list__item"><img src="./images/section-how_its_made/apples.svg" alt="apples"
                        class="quantity-list__img">
                    <h3 class="quantity-list__title">16kg</h3>
                    <p class="quantity-list__paragraph">Aliquam ac dui vel dui vulputate <br>consectetur. Mauris massa.</p>
                </li>
                <li class="quantity-list__item"><img src="./images/section-how_its_made/candy.svg" alt="candy"
                        class="quantity-list__img">
                    <h3 class="quantity-list__title">84</h3>
                    <p class="quantity-list__paragraph">Aliquam ac dui vel dui vulputate <br> consectetur. Mauris massa.</p>
                </li>
            </ul>
        </div>
    </div>
</section>