<section class="schedule">
    <div class="schedule__background"></div>
    <div class="container2">
      <ul class="schedule__list">
        <li class="schedule__item">
          <div class="schedule__item-holder">
            <p class="schedule__name schedule__1" data-aos="fade-up" data-aos-duration="1000">CAFE</p>
            <p class="schedule__city" data-aos="fade-up" data-aos-duration="1100">Chicago</p>
            <p class="schedule__description" data-aos="fade-up" data-aos-duration="1200">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <!-- <img src="image/line.svg" alt="line" class="schedule__line" data-aos="fade-up" data-aos-duration="1200"> -->
            <p class="schedule__daytime" data-aos="fade-up" data-aos-duration="1200">Monday - Friday</p>
            <p class="schedule__clocktime" data-aos="fade-up" data-aos-duration="1200">06:00 AM - 10:00 PM</p>
            <p class="schedule__daytime" data-aos="fade-up" data-aos-duration="1250">Saturday - Sunday</p>
            <p class="schedule__clocktime" data-aos="fade-up" data-aos-duration="1250">08:00 AM - 16:00 PM</p>
            <!-- <img src="image/line.svg" alt="line" class="schedule__line" data-aos="fade-up" data-aos-duration="1250"> -->
            <a class="schedule__contact" href="tel:610383766284" data-aos="fade-up" data-aos-duration="1250">+61(0) 383 766 284</a>
            <a class="schedule__contact schedule__contact1" href="mailto:noreply@envato.com" data-aos="fade-up" data-aos-duration="1250">noreply@envato.com</a>
          </div>
        </li>
        <li class="schedule__item">
          <div class="schedule__item-holder">
            <p class="schedule__name schedule__2" data-aos="fade-up" data-aos-duration="1000">FOOD TRUCK</p>
            <p class="schedule__city" data-aos="fade-up" data-aos-duration="1100">Los Angeles</p>
            <p class="schedule__description" data-aos="fade-up" data-aos-duration="1200">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <!-- <img src="image/line.svg" alt="line" class="schedule__line" data-aos="fade-up" data-aos-duration="1200"> -->
            <p class="schedule__daytime" data-aos="fade-up" data-aos-duration="1200">Monday - Friday</p>
            <p class="schedule__clocktime" data-aos="fade-up" data-aos-duration="1200">06:00 AM - 10:00 PM</p>
            <p class="schedule__daytime" data-aos="fade-up" data-aos-duration="1250">Saturday - Sunday</p>
            <p class="schedule__clocktime" data-aos="fade-up" data-aos-duration="1250">08:00 AM - 16:00 PM</p>
            <!-- <img src="image/line.svg" alt="line" class="schedule__line" data-aos="fade-up" data-aos-duration="1250"> -->
            <a class="schedule__contact" href="tel:610383766284" data-aos="fade-up" data-aos-duration="1250">+61(0) 383 766 284</a>
            <a class="schedule__contact schedule__contact1" href="mailto:noreply@envato.com" data-aos="fade-up" data-aos-duration="1250">noreply@envato.com</a>
          </div>
        </li>
        <li class="schedule__item">
          <div class="schedule__item-holder">
            <p class="schedule__name schedule__1" data-aos="fade-up" data-aos-duration="1000">CAFE</p>
            <p class="schedule__city" data-aos="fade-up" data-aos-duration="1100">New York</p>
            <p class="schedule__description" data-aos="fade-up" data-aos-duration="1200">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <!-- <img src="image/line.svg" alt="line" class="schedule__line" data-aos="fade-up" data-aos-duration="1200"> -->
            <p class="schedule__daytime" data-aos="fade-up" data-aos-duration="1200">Monday - Friday</p>
            <p class="schedule__clocktime" data-aos="fade-up" data-aos-duration="1200">06:00 AM - 10:00 PM</p>
            <p class="schedule__daytime" data-aos="fade-up" data-aos-duration="1250">Saturday - Sunday</p>
            <p class="schedule__clocktime" data-aos="fade-up" data-aos-duration="1250">08:00 AM - 04:00 PM</p>
            <!-- <img src="image/line.svg" alt="line" class="schedule__line" data-aos="fade-up" data-aos-duration="1250"> -->
            <a class="schedule__contact" href="tel:610383766284" data-aos="fade-up" data-aos-duration="1250">+61(0) 383 766 284</a>
            <a class="schedule__contact schedule__contact1" href="mailto:noreply@envato.com" data-aos="fade-up" data-aos-duration="1250">noreply@envato.com</a>
          </div>
        </li>
      </ul>        
      <div class="schedule__buttons">
        <button class="schedule__button1" onclick="window.open('#', '_blank');">Our Locations
          <!-- <img src="image/buttonDecoration1.svg" alt="button decoration"> -->
        </button>

        <button class="schedule__button2" onclick="window.open('#', '_blank');">Franchise
          <!-- <img src="image/buttonDecoration2.svg" alt="button decoration"> -->
        </button>
      </div>
    </div>
  </section>