li {
    list-style: none;
}

.footer {
    width: 1280px;
    height: 247px;
    background-color: rgb(255, 245, 246);

}

.footer-div {
    display: flex;
    justify-content: space-around;
}

.div{
    margin-left: 120px;
    margin-top: 58px;
}

.icons {
    margin-top: -8px;
    display: flex;
    justify-content: space-around;
}

.icon {
    background-color: #FEA5BB;
    width: 34px;
    height: 34px;
    border-radius: 44px;
}

.icon1 {
    margin-left: 220px;
}

.icon2 {
    margin-left: 20px;
}

.icon3 {
    margin-left: 20px;
}

.icon:hover {
    background-color: #D41443;
    width: 34px;
    height: 34px;
    border-radius: 44px;
}

.icon-photo {
    margin-left: 7px;
    margin-top: 6px;
}

.icon-photo1 {
    margin-left: 5.5px;
    margin-top: 9px;
}

.icon-photo2 {
    margin-left: 13px;
    margin-top: 5.5px;
}

.homemade_ice_cream_made {
    position: relative;
    color: rgb(255, 165, 186);
    font-family: Titan One;
    font-size: 30px;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    top: -0px;
}

.with_passion {
    position: relative;
    top: -45px;
    color: rgb(212, 20, 67);
    font-family: Titan One;
    font-size: 58px;
    letter-spacing: 6%;
    text-align: left;
    text-transform: uppercase;
}

.text {
    color: black;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 2%;
    text-align: left;
}

.number {
    color: rgb(212, 20, 67);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 2%;
    text-align: left;
}

.footer-name {
    margin-top: -30px;
}

.footer-p {
    margin-top: 17px;
    margin-left: 502px;
    color: rgb(144, 126, 130);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 2%;
    text-align: left;
}

.footer-div-bottom {
    margin-top: -15px;
    width: 1280px;
    height: 45px;
    border: 1px solid rgb(225, 225, 225);
}li {
    list-style: none;
}

.footer {
    width: 1280px;
    height: 247px;
    background-color: rgb(255, 245, 246);

}

.footer-div {
    display: flex;
    justify-content: space-around;
}

.div{
    margin-left: 120px;
    margin-top: 58px;
}

.icons {
    margin-top: -8px;
    display: flex;
    justify-content: space-around;
}

.icon {
    background-color: #FEA5BB;
    width: 34px;
    height: 34px;
    border-radius: 44px;
}

.icon1 {
    margin-left: 220px;
}

.icon2 {
    margin-left: 20px;
}

.icon3 {
    margin-left: 20px;
}

.icon:hover {
    background-color: #D41443;
    width: 34px;
    height: 34px;
    border-radius: 44px;
}

.icon-photo {
    margin-left: 7px;
    margin-top: 6px;
}

.icon-photo1 {
    margin-left: 5.5px;
    margin-top: 9px;
}

.icon-photo2 {
    margin-left: 13px;
    margin-top: 5.5px;
}

.homemade_ice_cream_made {
    position: relative;
    color: rgb(255, 165, 186);
    font-family: Titan One;
    font-size: 30px;
    letter-spacing: 4%;
    text-align: left;
    text-transform: uppercase;
    top: -0px;
}

.with_passion {
    position: relative;
    top: -45px;
    color: rgb(212, 20, 67);
    font-family: Titan One;
    font-size: 58px;
    letter-spacing: 6%;
    text-align: left;
    text-transform: uppercase;
}

.text {
    color: black;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 2%;
    text-align: left;
}

.number {
    color: rgb(212, 20, 67);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 2%;
    text-align: left;
}

.footer-name {
    margin-top: -30px;
}

.footer-p {
    margin-top: 17px;
    margin-left: 502px;
    color: rgb(144, 126, 130);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 186%;
    letter-spacing: 2%;
    text-align: left;
}

.footer-div-bottom {
    margin-top: -15px;
    width: 1280px;
    height: 45px;
    border: 1px solid rgb(225, 225, 225);
}