* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 926px;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img {
    width: 85px;
    height: 85px;
    top: 3574px;
    left: 598px;
    gap: 0px;
    border-radius: 44px 0px 0px 0px;
    opacity: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.text-list {
    background-image: url(/photo/“.svg);
    background-repeat: no-repeat;
    background-position: 50px 32px;
    width: 100%;
    height: 138px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #FAFAFA;
    text-align: center;
}

.text-style {
    z-index: 100;
    max-width: 750px;
    max-height: 52px;
    top: 3721px;
    left: 265px;
    gap: 0px;
    opacity: 0px;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 29.76px;
    letter-spacing: 0.04em;
    text-align: center;
    margin-left: 88px;
    padding-top: 47px;



}

.dots {
    position: absolute;
    margin-top: 24px;
    width: 100%;
    text-align: center;
    margin-left: 18px;
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 18px 0px 0px;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;

}

.active {
    background-color: #D31342;
}

.visible {
    display: block;
    opacity: 1;
}

ul {
    list-style-type: "";
}

.elipse {
    margin-top: -18px;
    max-width: 940px;
    height: 4px;
    gap: 0px;
    opacity: 0px;
    margin-left: -54px;
    

}

.elipse-list {
    max-width: 32px;
    height: 4px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.elips-number {
    width: 4px;
    height: 4px;
    gap: 0px;
    opacity: 0px;
    margin: 0 10px;
   
}

.girl-name {
    width: 100%;
    height: 31px;
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 37.2px;
    margin-top: 20px;
    text-align: center;
    margin-left: 13px;

}