.how-its-made-container{
    width: 1110px;
    margin: 0 auto;
}
.how-its-made-section{
    background-color: $background-how-its-made-color;
    background-size: cover;
    height: 1382px;
    &__title-first{
        font-family: $Titan-fonts;
        font-size: 30px;
        font-weight: 400;
        color: $pink-color;
        text-align: center;
        padding-top: 125px;
        margin: 0;
    }
    &__title-second{
        font-family: $Titan-fonts;
        font-size: 58px;
        font-weight: 400;
        color: $home-icon-color;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 106px;
    }
}
.constituting-div{
    position: relative;
    display: flex;
    gap: 74px;

    &__img{
        padding-left: 112px;
        margin-top: -54px;
        display: block;
    }
    &__img-first{
        position: absolute;
        bottom: -338px;
    }
    &__img-second{
        left: 84px;
        bottom: -444px;
        position: absolute;
        z-index: -1;
        }

}
.constituting-list{
 width: 463px;
 
    &__paragraph{
        font-family: $DM-Sans-fonts;
        font-size: 16px;
        font-weight: 700;
        color: $black-color;
        padding-bottom: 35px;
    }
}
.second-paragraph{
    color: $grey-color;
}
.quantity-list{
    display: flex;
    gap: 120px;
    margin-top: 100px;
    &__img{
        margin-bottom: 40px;
    }
    &__title{
        font-family: $Titan-fonts;
        font-size: 58px;
        font-weight: 400;
        color: $home-icon-color; 
        margin-bottom: 15px;
    }
    &__paragraph{
        font-family: $DM-Sans-fonts;
        font-size: 16px;
        font-weight: 700;
        color: $black-color;
    }
}
@media (min-width: 768px) and (max-width: 1368px) {
    .container-adaptive{
      width: 772px;
    }
.quantity-list{
    margin-left: -90;
}
.constituting-div{
    gap: 17px;
    &__img-first{
        display: none;
    }
    &__img-second{
        display: none;
    }
    &__img{
        margin-left: -197px;
    }
}
}
@media  (max-width:480px){
    .how-its-made-title{
        width: 200px;
        margin-left: 111px;
    }
    .constituting-div{
        display: block;
        &__img{
            width: 470px;
            margin-left: -125px;
            margin-top: -90px;
        }
        &__img-first{
            width: 370px;
            bottom: -15px;
        }
        &__img-second{
            width: 400px;
            left: -27px;
            bottom: -43px;
        }
    }
    .constituting-list{
        width: 250px;
        margin-left: 50px;
    }
    .how-its-made-section{
        height: 1688px;
    }
    .quantity-list{
        display: block;
        margin-left: 20px;
        &__item{
            margin-bottom: 38px;
        }
    }
}