.how-its-made-container{
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;
}
.how-its-made-section{
    background-color: $background-how-its-made-color;
    background-size: cover;
    height: 1382px;
    &__title-first{
        font-family: $Titan-fonts;
        font-size: 30px;
        font-weight: 400;
        color: $pink-color;
        text-align: center;
        padding-top: 125px;
        margin: 0;
    }
    &__title-second{
        font-family: $Titan-fonts;
        font-size: 58px;
        font-weight: 400;
        color: $home-icon-color;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 106px;
    }
}
.constituting-div{
    position: relative;
    display: flex;
    gap: 74px;

    &__img{
        padding-left: 112px;
        margin-top: -54px;
        display: block;
    }
    &__img-second{
        left: 100px;
        position: absolute;
        }

}
.constituting-list{
 outline: 1px solid red;
 width: 463px;
 
    &__paragraph{
        font-family: $DM-Sans-fonts;
        font-size: 16px;
        font-weight: 700;
        color: $black-color;
        padding-bottom: 35px;
    }
}
.second-paragraph{
    color: $grey-color;
}
.quantity-list{
    display: flex;
    gap: 120px;
    margin-top: 100px;
    margin-left: 115px;
    &__img{
        margin-bottom: 40px;
    }
    &__title{
        font-family: $Titan-fonts;
        font-size: 58px;
        font-weight: 400;
        color: $home-icon-color; 
        margin-bottom: 15px;
    }
    &__paragraph{
        font-family: $DM-Sans-fonts;
        font-size: 16px;
        font-weight: 700;
        color: $black-color;
    }
}